.node {
  stroke: silver;
  stroke-width: 0.5px;
}
.link {
  fill: none;
  stroke: silver;
  stroke-width: 1px;
}

.selected {
  stroke: red !important;
}

.legend-text,
text#tooltip {
  font-family: sans-serif;
  fill: white;
  font-size: 15px;
  /* text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff; */
  font-weight: 900;
}

svg#tree
{
  background-color: #1f2f3a;
  align-items: center;
  border-radius: 10px;
  border-width: 10px;

}
